<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025991603052-g3pdp8cl4jj1fam0u4a9bth7v3jsr031.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025991603052-g3pdp8cl4jj1fam0u4a9bth7v3jsr031</string>
	<key>API_KEY</key>
	<string>AIzaSyA8IgukGiALnwYqDK0fYUwYvnVBvtWfQuM</string>
	<key>GCM_SENDER_ID</key>
	<string>1025991603052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>arduinodental.com.arduinoBrush</string>
	<key>PROJECT_ID</key>
	<string>arduino-brush</string>
	<key>STORAGE_BUCKET</key>
	<string>arduino-brush.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025991603052:ios:19ac3acbe912feb999f949</string>
</dict>
</plist>